* {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    font-size: 1.2em;
    line-height: 1.3em;
}

header {
    background: #153453;
    margin: 0;
    padding: 20px;
}

main {
    margin: 40px;
}


/* ---------- Text Styles ---------- */
header h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8em;
}

h1, h2, p {
    text-align: center;
}

h2, legend, button[type="submit"] {
    font-size: 2.5rem;
    font-weight: bold;
}

h2, legend {
    color: #153453;
}

p {
    color: #aaafb4;
}


footer p {
    font-style: italic;
}

/* ---------- Form Styles ---------- */

label {
    font-size: 1em;
    color: #55687a;
    letter-spacing: 1px;
    display: block;
}

label.inline {
    display: inline-block;
}

input,
select,
textarea {
    border-radius: 8px;
    padding: 30px 40px;
    margin: 20px 0 40px 0;
}

input:not([type='checkbox'],[type='radio']),
select,
textarea {
    background: #eff0f1;
    border: none;
    font-size: 1em;
    width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 20px;
    width: 25px;
    height: 25px;
}

textarea {
    height: 250px;
}

.checkbox-subhead {
    margin-bottom: 30px
}

.radio-subhead {
    margin: 30px 0;
}

.textarea-subhead {
    margin: 30px 0 15px 0;
}

input:not([type='checkbox'],[type='radio']):focus,
select:focus,
textarea:focus {
    outline: 4px solid #55687a;
}


#zip {
    width: 50%;
}

::placeholder {
    font-style: italic;
    text-align: right;
    color: #b6bbbf;
    font-size: .8em;
}

select:invalid {
   color: #b6bbbf;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../img/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 30px 30px;
}

legend {
    margin-bottom: 50px;
}

fieldset {
    padding: 0;
    border: none;
    margin-bottom: 40px;
}

button[type="submit"] {
    background: #4ebbb5;
    color: #fff;
    width: 100%;
    border: none;
    padding: 50px;
    border-radius: 8px;
    margin: 20px 0;
}


/* ---------- Other Styles ---------- */

hr {
    border: 2px solid #153453;
    margin: 0 0 60px 0;  
}

hr:first-child {
    border: 5px solid #153453;
    margin: 80px 0 8px 0;
}

footer {
    padding-bottom: 400px;
}
