* {
    box-sizing: border-box;
}

html {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 1.5;
}

header {
    background: #153453;
    margin: 0 0 30px 0;
    padding: 10px;
    width: 100%;
}

main {
    margin: 20px;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
    margin-bottom: 200px;
}


/* ---------- Text Styles ---------- */
header h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
}

h1, h2, p {
    text-align: center;
}

h2, legend, button[type="submit"] {
    font-size: 1.3rem;
    font-weight: bold;
}

h2, legend {
    color: #153453;
}

h2, p {
    margin: 10px 0;
}

legend {
    margin-bottom: 20px;
}

p {
    color: #aaafb4;
}


footer p {
    font-style: italic;
}

/* ---------- Form Styles ---------- */

label {
    color: #55687a;
    display: block;
}

label.inline {
    display: inline-block;
}

input,
select,
textarea {
    border-radius: 4px;
    padding: 15px 20px;
    margin: 10px 0 20px 0;
}

input:not([type='checkbox'],[type='radio']),
select,
textarea {
    background: #eff0f1;
    border: none;
    width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 10px 10px 10px 0;
    /* width: 25px;
    height: 25px; */
}

textarea {
    height: 100px;
}

.checkbox-subhead {
    margin-bottom: 10px;
}

.radio-subhead {
    margin: 20px 0 10px 0;
}

.textarea-subhead {
    margin: 20px 0 10px 0;
}

input:not([type='checkbox'],[type='radio']):focus,
select:focus,
textarea:focus {
    outline: 2px solid #55687a;
}


#zip {
    width: 50%;
}

::placeholder {
    font-style: italic;
    text-align: right;
    color: #b6bbbf;
    font-size: .8rem;
}

select:invalid {
   color: #b6bbbf;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(../img/select-arrow.svg);
    background-repeat: no-repeat;
    background-position: 97%;
    background-size: 15px 15px;
}

fieldset {
    padding: 0;
    border: none;
    margin-bottom: 20px;
}

button[type="submit"] {
    background: #4ebbb5;
    color: #fff;
    width: 100%;
    border: none;
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
}


/* ---------- Other Styles ---------- */

hr {
    border: 1px solid #153453;
    margin: 0 0 30px 0;  
}

hr:first-child {
    border: 2px solid #153453;
    margin: 30px 0 3px 0;
}

/* ---------- Media Queries ---------- */

@media (min-width: 768px) {

}